Source: ros-rolling-launch-param-builder
Section: misc
Priority: optional
Maintainer: Jafar Abdi <jafar@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-rolling-ament-copyright, ros-rolling-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-launch-param-builder
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-yaml, ros-rolling-ament-index-python, ros-rolling-rclpy, ros-rolling-xacro, ros-rolling-ros-workspace
Description: Python library for loading parameters in launch files
